# Ignore files not needed when building a Docker image of this project

# Ignore the temporary files:
/tmp/*
/log/*.log

# Ignore shell & console artifacts, such as bash, byebug and pry history logs:
.bash_history
.byebug_hist
.pry_history

# Ignore the docker-compose project files:
docker-compose.yml
docker-production.yml
Dockerfile.production
setup.sh
